<form action="/search" method="GET">
    <label>Name or movie title<input name="term"></label>
    <select name="kind" id="select">
        <option value="person">Person's Name</option>
        <option value="movie">Movie Title</option>
    </select>
    <input type="submit" value="search">
    </form>