<div class="searchForm">
    <form action="/explore/" method="GET">

        <label> Search
            <input type="text" placeholder="search for user or tags" name="term">
        </label>

        <div class="selector">
            <label> Filter
            <select required name="kind">
                <option value="">choose one</option>
                <option value="user">user</option>
                <option value="tag">tag</option>
            </select>
            </label>
        </div>
    
        <button type="submit">submit</button>
    </form>
</div>
