<ul id="navbar">
    <li><a href="/">Home</a></li>
    <li><a href="/tags">Tags</a></li>
    <li><a href="/create">Create Post</a></li>
    <li><a href="/search">Search by Tag</a></li>
    <li><a href="/userpage/<%= username %>">My Profile</a></li>

    <button class="logout"
        type="button">
        <a href="/logout">Log Out</a>
    </button>
</ul>