<button class="log in"
        type="button">
    Log In
</button>
<button class="sign in"
        type="button">
    Sign In
</button>
<button class="log out"
        type="button">
    Log out
</button>