<h2>Register:</h2>
<p>
    <form action="/join" method="POST">
        <label> Username
            <input type="text" name="username" placeholder="username123">
        </label>
        <label> Password
            <input type="text" name="password" placeholder="*******">
        </label>
    <button type="submit">register</button>
    </form>
</p>
<h2>Login:</h2>
  <p>
    <form action="/login" method="POST">
        <label> Username
            <input type="text" name="username" placeholder="og102">
        </label>
        <label> Password
            <input type="text" name="password" placeholder="********">
        </label>
      <button type="submit">login</button>
    </form>
  </p>