<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>People App</title>
    <!-- load local stylesheet (css) -->
    <link rel="stylesheet" href="/styles.css" />
    <!-- loading jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>
    <%- include("partials/navbar.ejs") %>

    <h1>Here's what post comes up:</h1>

    <ol>
        <li><%= post.caption  %></li>
    </ol>
    <!-- load local js -->
    <script src="/main.js"></script>
</body>
</html>
