<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Kapchiy</title>
    <!-- load local stylesheet (css) -->
    <link rel="stylesheet" href="/styles.css" />
    <!-- loading jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>
    <main>
        <div class="wrapper">
            <div class="sidebar">
                <%- include("partials/navbar_logged_in.ejs") %>
            </div>
            <div class="main_content">
                <h1>Explore</h1>
                <%- include("partials/form.ejs") %>
            </div>
        </div>
    </main>
    
   <!-- load local js -->
   <script src="/main.js"></script>
</body>
</html>