<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Kapchiy</title>
    <!-- load local stylesheet (css) -->
    <link rel="stylesheet" href="/styles.css" />
    <!-- loading jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>
    <h1>Kapchiy</h1>
<%- include("partials/navbar_logged_in.ejs") %>
<%- include("partials/form.ejs") %>

   <!-- load local js -->
   <script src="/main.js"></script>
</body>
</html>