h1 {
  color: rgb(83, 226, 43);
}

#navbar ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#navbar li a{
  display: block;
  width: 60px;
  background-color: #dddddd;
  text-decoration: none;
}

#navbar li a:hover{
  background-color: #555;
  color: white;
}