body{
  background-color: #93BFCF;
}
h1 {
  color: #EEE9DA;
  text-align: center;
}
div.form
{
    display: block;
    text-align: center;
    padding: 10px;
}
form
{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}


#navbar{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #6096B4;
  
}

#navbar li {
  float: left;
}
#navbar li a{
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

#navbar li a:hover {
  background-color: #88969e;
}

div.gallery {
  margin: 5px;
  margin-top: 50px;
  margin-left: 25px;
  border: 5px solid #ffffff;
  border-radius: 5px;
  float: left;
  width: 300px;
  height: 400px;
  font-size: small;
  background-color: #ffffff;
}

div.gallery:hover {
  border: 5px solid #6096B4;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
  width: 60px;
  background-color: #dddddd;
}

.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #EEE9DA;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
  background: #93BFCF;
}

