body{
  background-color: #93BFCF;
  margin: 0;
}

.main{
  margin-left: 300px; /* Same as the width of the sidebar */
}

h1 {
  color: #EEE9DA;
  text-align: center;
  font-size: 48px;
}

.info {
  position: absolute;
  margin-bottom: 25px;
  box-shadow: 0 1px 20px 0 rgba(69,90,100,0,08);
}

.info h3 {
  margin-bottom: 15px;
  padding-bottom: 5px;
  border-bottom: 1px solid #e0e0e0;
  color: #353c4e;
  text-transform: uppercase;
  letter-spacing: px;
}

.info .info-data {
  display: flex;
  justify-content: space-between;
}

.data {
  padding: 10%;
}
 

/* search form */
.searchForm
{
  display: block;
  text-align: center;
  padding: 10px;
  margin: 0px;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.searchForm #textbox{
  margin-top: 100px;
  width: 600px;
  height: 20px;
  border: 5px solid white;
  border-radius: 5px;
}

.searchForm #submit{
  height: 32px;
  width: 75px;
  background-color: #BDCDD6;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  color: white;
}

/* The sidebar navbar */
#navbar {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 160px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  text-align: center;
  background-color: #6096B4;
  overflow-x: hidden; /* Disable horizontal scroll */
  list-style-type: none;
  padding-top: 100px;
  margin: 0;
  padding-right: 50px;
}

/* The navigation menu links */
#navbar a {
  padding: 30px 20px;
  text-decoration: none;
  font-size: 25px;
  color: #f1f1f1;
  display: block;
}

/* When you mouse over the navigation links, change their color */
#navbar a:hover {
  color: #88969e;
}
/* Logout Button*/
#navbar .logout button{
  background-color: #BDCDD6;
  border: none;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  #navbar {padding-top: 15px;}
  #navbar a {font-size: 18px;}
}

/* Homepage Post Gallery */
div.gallery {
  margin: 5px;
  margin-top: 50px;
  margin-left: 25px;
  border: 5px solid #ffffff;
  border-radius: 5px;
  float: left;
  width: 300px;
  height: 600px;
  font-size: small;
  background-color: #ffffff;
}

div.gallery:hover {
  border: 5px solid #6096B4;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.gallery h2{
  text-align: center;
}

div.desc {
  padding: 15px;
  text-align: center;
  width: 60px;
  background-color: #dddddd;
}

/* Login Form*/
.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #EEE9DA;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
  background: #93BFCF;
}

.form h1{
  color: #255067;
  font-size: 30px;
}
/* Upload Form*/

.uploadForm{
  background: #FFFFFF;
  max-width: 800px;
  margin: 0 auto 100px;
  padding: 50px;
  border-radius: 20px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.uploadForm p{
  color: #255067 ;
  font-size: 20px;
}
.uploadForm input{
  width: 100%;
  padding: 15px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 1px solid #ffffff;
  background-color: #efede7;
  border-radius: 10px;;
  outline: none;
}


/* User Info*/
#user-info h2 {
  color: #255067;
  font-size: 25px;
}
#user-info h3,label{
  color: #255067;
  font-size: 15px;
}

/* Style page content
#user-info {
  margin-left: 160px;
  margin-right: 160px;
  padding: 0px 10px;
} */

/* User Profile: Bio, Following, NumOfPosts*/
#user-profile{
  max-width: 600px;
  margin: 0 auto 100px;
}

#user-profile .flex-container textarea {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 1px solid #ffffff;
  border-radius: 5px;;
  outline: none;
}

#user-profile .flex-container button{
  background-color: #BDCDD6;
  border: none;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;
}

/* User Post Styling*/
#userPosts{
  max-width: 600px;
  margin: 0 auto 100px;
}

#userPosts .post {
  border: 5px solid #ffffff;
  border-radius: 5px;
  font-size: small;
  background-color: #ffffff;
}

#userPosts .post h2{
  text-align: left;
}

#userPosts .post figure{
  text-align: center;
}

#userPosts .post h3{
  padding-left: 40px;
}

#userPosts .post ul{
  padding-left: 55px;
}

