h2 {
    color: darkslategray;
    text-align: left;
}
h3 {
    color: darkslategray;
    text-align: left;
}

.flex-container {
    display: flex;
    flex-direction: column;
}

#profile-list {
    display: flex;
    flex-direction: row;
}

/* Style page content */
#user-info {
    margin-left: 160px;
    margin-right: 160px;
    padding: 0px 10px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

.post {
    background-color: white;
    border-style: solid;
    border-width: 3px;
}